x-logging: &logging-systemd
  logging:
    driver: journald

x-logging-loki: &logging-loki
  logging:
    driver: loki
    options:
      mode: "non-blocking"
      loki-url: http://127.0.0.1:3100/loki/api/v1/push
      max-size: "50m"
      max-file: "2"

x-build-alpine: &build-alpine
  image: "s6-overlay-alpine"
  build:
    context: .
    dockerfile: ./Dockerfile.alpine

x-build-debian-slim: &build-debian-slim
  image: "s6-overlay-debian-slim"
  build:
    context: .
    dockerfile: ./Dockerfile.debian-slim

services:
  s6-overlay-debian-slim:
    <<:
      #- *logging-systemd
      #- *logging-loki
      - *build-debian-slim
    container_name: s6-overlay-debian-slim
    hostname: s6-overlay-debian-slim
    restart: always

  s6-overlay-alpine:
    <<:
      #- *logging-systemd
      #- *logging-loki
      - *build-alpine
    container_name: s6-overlay-alpine
    hostname: s6-overlay-alpine
    restart: always
